# Created by https://www.toptal.com/developers/gitignore/api/node
# Edit at https://www.toptal.com/developers/gitignore?templates=node

# VS Code Settings
.vscode/*
.vscode/settings.json
# End of https://www.toptal.com/developers/gitignore/api/node