CLOUDINARY_CLOUD_NAME=servenest
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=7000
MONGODB_URI=
CORS_ORIGIN=
# To generate 128 char secure secret
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=
